.txtM {text-align: center;}
.txtL {text-align: left;}

.navBlack {background: #000; width: 100%; display: flex; color: #FFF; padding: 20px; font-weight: 600; font-size: 20px;}

.pad5 {padding: 5px;}

.marL5 {margin-left: 5px;}